<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify - ClashGamers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/forgotten.css">
</head>
<body>
    
    <div class="d-flex justify-content-center align-items-center container">
        <div class="card py-5 px-3">
            <h5 class="m-0">Your Username is {{username}}</h5><span class="mobile-text"> Do you want to change your Password? : </span>
            <span class="mobile-text"> If you don't want to change your password then go back to <a href="./login">Login Page</a></a> </span>
            <form method="POST" action="./changePassword" accept-charset="UTF-8">
                <div class="fields">
                    <div>
                        <input type="password" name="newPassword" id="newPassword" placeholder="New Password" class="form-control" autofocus="" required>
                    </div>
                    <div>
                        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control" autofocus="" required>
                        <button type="submit" id="changePassword" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <div class="text-center mt-5"><span class="d-block mobile-text">Go to Login Page</span><a href="./login" style="text-decoration: none;"><span class="font-weight-bold text-danger cursor">Login</span></a></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        // Send OTP email jquery
        $("#changePassword").on("click", function(e){ 
            let newPassword = $("#newPassword").val();
            let confirmPassword = $("#confirmPassword").val();

            if(newPassword != confirmPassword){
                e.preventDefault();
                window.alert("New Password is not the same as Confirm Password !")
            }else{
                return true;
            } 
        });
        });
    </script>

</body>
</html>